<ion-view view-title="Lights">
  <ion-content class="padding">
    <h2>Set display mode</h2>
    <div class="button-bar bar-stable">
      <a class="button ">Static</a>
      <a class="button button-activated">Blink</a>
      <a class="button ">Strobe</a>
    </div>
    <h2>Select color</h2>
    <button class="button button-full button-stable">
      White
    </button>
    <button class="button button-full button-assertive">
      Red
    </button>
    <button class="button button-full button-energized">
      Yellow
    </button>
    <button class="button button-full button-balanced">
      Green
    </button>
  </ion-content>
</ion-view>
